<div class="page-header-primary">
  <div class="page-header-primary-nav">
    <a routerLink="Home" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Home</a> |
    <a routerLink="Garden" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Garden</a> |
    <a routerLink="Registration" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Registration</a> |
    <a routerLink="Login" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}">Login</a>
  </div>
</div>
